---
import SIDEBAR from "../../constants/sidebar";
import { resolveUrl } from "../../utils/urlResolver";

const pathname = new URL(Astro.request.url).pathname;
---

<div class="drawer-side z-40 md:border-r md:border-base-content/10">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <aside class="bg-base-100 min-h-screen w-80">
    <div
      class="bg-base-100 sticky top-0 z-20 items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex font-outfit"
    >
      <a href={resolveUrl("")} class="px-2">
        <h1
          class="text-2xl font-bold text-primary"
        >
          Codependence
        </h1>
      </a>
    </div>

    <ul class="menu w-full px-4 py-0 font-outfit">
      {
        SIDEBAR.map((navItem) => (
          <li>
            <h2 class="menu-title flex items-center gap-4 px-1.5">
              {navItem.title}
            </h2>
            <ul class="border-l border-base-content/10 ml-3">
              {navItem.items.map((item) => {
                const isActive = pathname === item.href;
                const baseClass = "block py-1.5 pl-[20px] -ml-[10px] -mr-[16px] transition text-sm";
                const activeClass = "text-primary border-l-2 border-primary";
                const inactiveClass = "hover:text-primary border-l-2 border-transparent hover:border-base-content/30";
                return (
                  <li>
                    <a
                      href={item.href}
                      class={`${baseClass} ${isActive ? activeClass : inactiveClass}`}
                    >
                      {item.title}
                      {item.label && (
                        <span class="badge badge-primary badge-sm ml-2">New</span>
                      )}
                    </a>
                  </li>
                );
              })}
            </ul>
          </li>
        ))
      }
    </ul>
  </aside>
</div>
