---
import SIDEBAR from "../../constants/sidebar";

const pathname = new URL(Astro.request.url).pathname;
---

<div class="drawer-side z-40 md:border-r md:border-base-content/10">
  <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"
  ></label>
  <aside class="bg-base-100 min-h-screen w-80">
    <div
      class="bg-base-100 sticky top-0 z-20 items-center gap-2 bg-opacity-90 px-4 py-2 backdrop-blur lg:flex font-outfit"
    >
      <a href="/" class="btn btn-ghost px-2">
        <h1
          class="text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-primary to-primary/50"
        >
          Codependence
        </h1>
      </a>
    </div>

    <ul class="menu w-full px-4 py-0 font-outfit">
      {
        SIDEBAR.map((navItem) => (
          <li>
            <h2 class="menu-title flex items-center gap-4 px-1.5">
              {navItem.title}
            </h2>
            <ul>
              {navItem.items.map((navItem) => (
                <li class="flex flex-col">
                  <a
                    href={navItem.href}
                    class={`hover:text-primary hover:bg-primary/5 transition flex ${pathname === navItem.href ? "text-primary bg-primary/5" : ""}`}
                  >
                    {navItem.title}
                    {navItem.label && (
                      <div class="badge badge-primary badge-sm">New</div>
                    )}
                  </a>
                </li>
              ))}
            </ul>
          </li>
        ))
      }
    </ul>
  </aside>
</div>
