---

---

<div class="mt-14 font-outfit">
  <h1 class="text-lg font-bold">Sponsors</h1>

  <a class="card w-44 mt-4 bg-base-200" href="https://daisyui.com/" target="_blank">
    <figure class="bg-gradient-to-t from-transparent to-base-300 py-1">
      <svg
        class="h-20 w-20 py-4"
        viewBox="0 0 415 415"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect x="82.5" y="290" width="250" height="125" rx="62.5" fill="#1AD1A5"
        ></rect>
        <circle cx="207.5" cy="135" r="130" fill="black" fill-opacity=".3"
        ></circle>
        <circle cx="207.5" cy="135" r="125" fill="white"></circle>
        <circle cx="207.5" cy="135" r="56" fill="#FF9903"></circle>
      </svg>
    </figure>
    <div class="card-body px-3 py-5">
      <h2 class="card-title text-sm">Daisy UI</h2>
      <p class="text-xs">The most popular component library for Tailwind CSS</p>
    </div>
  </a>
</div>
