---
import TocHeadings from "./TocHeadings.astro";

const { headings } = Astro.props;

const toc = buildToc(headings);

function buildToc(headings) {
  const toc = [];
  const parentHeadings = new Map();
  headings.forEach((h) => {
    const heading = { ...h, subheadings: [] };
    parentHeadings.set(heading.depth, heading);
    if (heading.depth === 2) {
      toc.push(heading);
    } else {
      // Find the closest parent heading
      let parentDepth = heading.depth - 1;
      while (parentDepth >= 2 && !parentHeadings.has(parentDepth)) {
        parentDepth--;
      }
      const parent = parentHeadings.get(parentDepth);
      if (parent) {
        parent.subheadings.push(heading);
      }
    }
  });
  return toc;
}
---

<div class="hidden xl:sticky xl:block xl:top-28">
  <h1 class="mb-4 text-xl font-bold font-outfit">On this page</h1>

  <ul>
    {toc.map((heading) => <TocHeadings heading={heading} />)}
  </ul>
</div>
