---
import SpotlightCode from "./SpotlightCode";
---

<div class="flex justify-center py-20 lg:py-28">
  <div class="xl:flex gap-16 max-w-6xl">
    <div class="xl:max-w-lg flex flex-col justify-center font-outfit">
      <h1 class="text-4xl lg:text-5xl font-black">
        Keep Your <span class="text-primary">Dependencies</span> in Check
      </h1>

      <p class="mt-8 text-lg">
        Codependence provides a simple yet powerful way to ensure your project's critical dependencies
        are always at the right version. Whether you're managing a single project or a complex monorepo,
        codependence helps you maintain consistency and avoid version conflicts.
      </p>

      <div class="flex gap-4 mt-8">
        <a href="/documentation/introduction" class="btn rounded-lg border-none bg-primary text-white">Get Started</a>
        <a href="https://github.com/yowainwright/codependence" class="btn btn-outline rounded-lg border-none">View on GitHub</a>
      </div>
    </div>

    <SpotlightCode client:load />
  </div>
</div>
