---
import { CopyButton } from "../common/CopyButton";
---

<div
  class="hero bg-transparent text-base-content mx-auto py-28 max-w-md md:max-w-full"
>
  <div class="hero-content text-center">
    <div class="w-full max-w-xl font-outfit">
      <h1 class="text-2xl md:text-5xl font-bold">
        Install <span class="text-primary">Codependence</span>
      </h1>

      <p class="mt-5 w-full max-w-lg text-center">
        Get started with Codependence in seconds
      </p>
      <div
        class="flex items-center bg-gray-100 dark:bg-gray-800 rounded-lg shadow-sm mt-4 justify-between"
      >
        <code class="ml-4">npm install --save-dev codependence</code>
        <CopyButton client:only="react" text="npm install --save-dev codependence" />
      </div>

      <a href="/documentation/introduction">
        <button class="btn btn-primary mt-7 rounded-lg border-none">Get Started</button>
      </a>
    </div>
  </div>
</div>