@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Styles for code blocks */
pre {
  margin: 1.5rem 0;
  border-radius: 0.375rem;
  overflow: auto;
}

/* Add border to code blocks */
pre {
  border: 1px solid #ddd;
}

[data-theme=night] pre {
  border-color: #44475a;
}

