[data-theme="codependence-light"] {
  --color-scheme: light;

  --color-primary: #0EA5E9;
  --color-primary-rgb: 14 165 233;
  --color-primary-content: #ffffff;
  --color-primary-content-rgb: 255 255 255;

  --color-secondary: #EAB308;
  --color-secondary-rgb: 234 179 8;
  --color-secondary-content: #422006;
  --color-secondary-content-rgb: 66 32 6;

  --color-accent: #22C55E;
  --color-accent-rgb: 34 197 94;
  --color-accent-content: #ffffff;
  --color-accent-content-rgb: 255 255 255;

  --color-neutral: #8B5CF6;
  --color-neutral-rgb: 139 92 246;
  --color-neutral-content: #ffffff;
  --color-neutral-content-rgb: 255 255 255;

  --color-base-100: #ffffff;
  --color-base-100-rgb: 255 255 255;
  --color-base-200: #f8fafc;
  --color-base-200-rgb: 248 250 252;
  --color-base-300: #f1f5f9;
  --color-base-300-rgb: 241 245 249;
  --color-base-content: #0C4A6E;
  --color-base-content-rgb: 12 74 110;

  --color-info: #0EA5E9;
  --color-info-rgb: 14 165 233;
  --color-info-content: #ffffff;
  --color-info-content-rgb: 255 255 255;

  --color-success: #22C55E;
  --color-success-rgb: 34 197 94;
  --color-success-content: #ffffff;
  --color-success-content-rgb: 255 255 255;

  --color-warning: #EAB308;
  --color-warning-rgb: 234 179 8;
  --color-warning-content: #422006;
  --color-warning-content-rgb: 66 32 6;

  --color-error: #F43F5E;
  --color-error-rgb: 244 63 94;
  --color-error-content: #ffffff;
  --color-error-content-rgb: 255 255 255;
}

[data-theme="codependence-dark"] {
  --color-scheme: dark;

  --color-primary: #7DD3FC;
  --color-primary-rgb: 125 211 252;
  --color-primary-content: #0c4a6e;
  --color-primary-content-rgb: 12 74 110;

  --color-secondary: #FDE047;
  --color-secondary-rgb: 253 224 71;
  --color-secondary-content: #713f12;
  --color-secondary-content-rgb: 113 63 18;

  --color-accent: #86EFAC;
  --color-accent-rgb: 134 239 172;
  --color-accent-content: #14532d;
  --color-accent-content-rgb: 20 83 45;

  --color-neutral: #C4B5FD;
  --color-neutral-rgb: 196 181 253;
  --color-neutral-content: #1e1b4b;
  --color-neutral-content-rgb: 30 27 75;

  --color-base-100: #000000;
  --color-base-100-rgb: 0 0 0;
  --color-base-200: #0a0a0a;
  --color-base-200-rgb: 10 10 10;
  --color-base-300: #171717;
  --color-base-300-rgb: 23 23 23;
  --color-base-content: #E0F2FE;
  --color-base-content-rgb: 224 242 254;

  --color-info: #38BDF8;
  --color-info-rgb: 56 189 248;
  --color-info-content: #0c4a6e;
  --color-info-content-rgb: 12 74 110;

  --color-success: #4ADE80;
  --color-success-rgb: 74 222 128;
  --color-success-content: #14532d;
  --color-success-content-rgb: 20 83 45;

  --color-warning: #FACC15;
  --color-warning-rgb: 250 204 21;
  --color-warning-content: #713f12;
  --color-warning-content-rgb: 113 63 18;

  --color-error: #FB7185;
  --color-error-rgb: 251 113 133;
  --color-error-content: #881337;
  --color-error-content-rgb: 136 19 55;
}
